ul {
	list-style-type: none;
}

li {
	padding: 10px 0;
}

h4 {
    font-weight: normal;
}

h5 {
    font-weight: normal;
}

h6 {
    font-weight: normal;
}

mark, .mark {
	background-color: #00A69B;
	color: #FFF;
	padding: 1px 5px;
}

p {
	white-space: pre-line;
}
